.course{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: static;
    width: 354px;
    height: 274px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.course .heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 134px;
    height: 46px;
    margin-left: 12px;
    margin-top: 12px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.course .heading .title{
    position: static;
    width: 58px;
    height: 24px;
    left: 0px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.course .heading .desc{
    position: static;
    width: 134px;
    height: 18px;
    left: 0px;
    top: 28px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.3);


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.course .chartContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: static;
    width: 330px;
    height: 147px;
    top: 90px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 12px;
}
.course .piechart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 170px;
    height: 170px;
    left: 12px;
    top: 90px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
}

.course .chartContainer .chartInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 145px;
    height: 104px;
    left: 185px;
    top: 21.5px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}