.your-stats{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: static;
    width: 715px;
    height: 274px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.your-stats .heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 691px;
    height: 60px;
    left: 12px;
    top: 12px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.your-stats .heading .upperdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: relative;
    width: 685px;
    height: 24px;
    left: 0px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.your-stats .heading .upperdiv p{
    position: static;
    width: 116px;
    height: 24px;
    left: 0px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    /* Black */

    color: #0C0B0B;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.your-stats .heading .upperdiv .graphInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: relative;
    width: 95px;
    height: 24px;
    /* left: 590px; */
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.your-stats .heading .upperdiv .graphInfo p{
    position: static;
    width: 39px;
    height: 18px;
    left: 0px;
    top: 3px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #000000;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.your-stats .heading .upperdiv .graphInfo img{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 48px;
    height: 24px;
    left: 47px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

.your-stats .heading .lowerdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: static;
    width: 691px;
    height: 24px;
    left: 0px;
    top: 36px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0px;
}

.your-stats .heading .lowerdiv p{
    position: static;
    width: 75px;
    height: 24px;
    left: 0px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.your-stats .heading .lowerdiv .dropdown{
    position: static;
    width: 99px;
    height: 18px;
    left: 592px;
    top: 3px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.your-stats .heading .lowerdiv .dropdown p{
    position: relative;
    width: 88px;
    height: 18px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin-right: 0;
    padding: 0px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* filter_gray */

    color: #6A707E;

}

.your-stats .heading .lowerdiv .dropdown img{
    position: relative;
    width: 7px;
    height: 4px;
    left: 92px;
    top: -20px;

    /* dropdown_icon */

}

.your-stats .statDiv{
    display: flex;
    align-items: flex-start;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-between;

    position: static;
    width: 685px;
    height: 168px;
    left: 12px;
    top: 84px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 12px;
    margin-top: 24px;
}