.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 145px;
    height: 24px;
    left: 0px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 16px;
}

.info img{
    position: static;
    width: 24px;
    height: 24px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 6px;
    margin-left: 2px;
    object-fit:scale-down;
}

.info p{
    position: static;
    width: 115px;
    height: 18px;
    left: 32px;
    top: 3px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #000000;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}