.statcard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: static;
    width: 207px;
    height: 64px;
    left: 0px;
    top: 104px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    
}

.statcard img{
    position: static;
    width: 48px;
    height: 48px;
    left: 8px;
    top: 8px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 24px;
    margin-right: 8px;
}

.statcard .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 150px;
    height: 46px;
    left: 80px;
    margin-top: 9px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: white;
}

.statcard .info .title{
    position: static;
    width: 119px;
    height: 24px;
    left: 0px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
}

.statcard .info .desc{
    position: static;
    width: 150px;
    height: 18px;
    left: 0px;
    top: 28px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.3);


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}