.announcement{
    position: static;
    width: 354px;
    height: 294px;
    right: 0px;
    top: 298px;
    bottom: 318px;

    background: #FFFFFF;
    border-radius: 10px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
}

.announcement p{
    width: 126px;
    height: 24px;
    left: 10px;
    top: 10px;
    position: relative;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    /* Secondary/Dark Grey/900 */

    color: #1B2559;

}