.main-screen{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1111px;
    height: 910px;
    left: 31.5px;
    top: 224.34px;

}